<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>savetheworld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4499B3AD1E2EC22D00614FB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4499B3C11E2EC22E00614FB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4499B3CC1E2EC22E00614FB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
